nav {
	background-color: shade(grey, 50%); 
	// position: fixed;
	width: 1080px;
	height: 50px;

	ul {
		list-style: none;
		margin: auto;
/*		padding-left: 20px;*/
		text-align: right;

		li {
			display: inline-block;
			margin-left: 5%;
			
			a:link, a:active, a:visited {
				text-decoration: none;
				font-size: 1.5em;
				color: tint(black, 50% );

			}
			a:hover {
				color: white;

			}
		}
	}
}