//navigation

.navbar-left {
	list-style-type: none;
	font-size: 300%;
	border: 1px solid green;
	margin: 0 auto;

	// @include radial-gradient (#1e5799, #3dc3d1);

	li {
		display: inline-block;
	}

	a {
		display: block;
		padding: 6px 12px;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}
